<div class="container">
  {{#each posts}}
    <div class="row m-5 border border-dark">
      <a
        href="/post/{{id}}"
        class="col border border-dark bg-dark"
        id="home-post-title"
      >{{title}}</a>
      <div class="col border border-dark bg-dark" id="home-post-info">Posted by
        {{user.username}}
        on
        {{format_date date_created}}</div>
      <div class="text-left">{{body}}</div>
    </div>
  {{/each}}
</div>
